{% extends 'main/base.html' %}

{% block title %}
Home
{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
    <form action="{% url 'create' %}"  method="POST" class="form-group">
        {% csrf_token %}
        {{ recipe_form|crispy}}
        <table style="display: none">
            {{ ingredient_formset.management_form }}
            {{ ingredient_formset|crispy }}
        </table>
        <button type="submit" name="save" class="btn btn-success">Submit</button>
    </form>
{% endblock %}

{% block footer %}
<script>
    // function for default select2
    $(document).ready(function () {
        $('#id_diet').attr('multiple', 'multiple');
        $('#id_diet').select2({tags: true});
        $('#id_cuisine').select2({tags: true});
        $('#id_difficulty').select2({minimumResultsForSearch: Infinity});
        $('#id_cook_time').select2({minimumResultsForSearch: Infinity});
        $("select[name$='quantity_unit'").select2({tags: true});
        $("select[name$='prep_method'").select2({tags: true});
    })
    // function for ajax select2
    $(document).ready(function () {
        $('#id_recipe_ingredients-0-ingredient').select2({
            ajax: {
                url: "{% url 'create' %}",
                dataType: 'json',
                processResults: function (data) {
                    return {
                        results: $.map(data, function (item) {
                            return {id: item.id, text: item.ingredient_name};
                        })
                    };
                }
            },
            tags: true,
            minimumInputLength: 1
        });
        $('select').blur(function() {
            $.ajax({
                type: "POST",
                url: "{% url 'create' %}",
                data: {
                    field_value: $(this).val()
                },
                success: function(new_val) {
                    // logic for setting element value
                }
            })
        })
    });
    // function to add new item to database when created
</script>
{% endblock %}